accelerate
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
async-timeout
attrs
backcall
beautifulsoup4
bitsandbytes
blinker
bs4
cachetools
certifi
charset-normalizer
click
colorama
comm
dataclasses-json
debugpy
decorator
Deprecated
dirtyjson
distro
docx
docx2txt
einops
exceptiongroup
executing
fastapi
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
llama-index-core
llama-index-embeddings-huggingface
llama-index-embeddings-langchain
llama-index-llms-huggingface
llama-index-llms-ollama
llama-index-llms-replicate
llama-index-readers-file
llamaindex-py-client
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numpy
openai
orjson
packaging
pandas
parso
pexpect
pickleshare
pillow
pip
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pybind11
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
PyMuPDF
PyMuPDFb
pypdf
python-dateutil
python-docx
python-multipart
pytz
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
tornado
tqdm
traitlets
transformers
typing_extensions
typing-inspect
tzdata
tzlocal
urllib3
uvicorn
validators
watchdog
wcwidth
wrapt
yarl
zipp
